
.button {
	bacground-color: black;
	color: white;
	border-radius: 8px;
	border-width: 2px;
	border-style: solid;
}

.right {
	float: right;
	width: 300px;
	margin-right: 300px;
}

#contacts_fetched	 {
	float: left;
	width: 300px;
	margin-left: 300px;
}

#contacts_selected {
}

