#{extends 'main.html' /}
#{set title:'Home' /}

<!-- #{welcome /} -->

#{set 'moreScripts'}
<script src="@{'/public/javascripts/autocomplete.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/jquery-ui-1.8.13.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

<div class="button"><a href="@{Invite.inviteGmail()}">Invite friends from gmail</a></div>
<div class="button"><a href="@{Invite.inviteFacebook()}">Invite friends from facebook</a></div>
<div class="button"><a href="@{Invite.inviteLinkedIn()}">Invite friends from linkedin</a></div>

<input name="location" class="autocomplete" data-url="@{Application.contactsByEmail()}">

<ul>
  #{list items:contacts, as:'contact' }
        <li>${contact.email}, ${contact.name}</li>
  #{/list}	
</ul>